<?xml version="1.0" encoding="UTF-8" ?>
<taglib xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd"
	version="2.1">
	<display-name>Priceza Tag Library</display-name>    
    <tlib-version>1.0</tlib-version>
	<short-name>PZ</short-name>
	<uri>priceza</uri>
	
	<function>
        <name>getStringBetween</name>
        <function-class>botbackend.utils.Util</function-class>
        <function-signature>java.lang.String getStringBetween(java.lang.String, java.lang.String, java.lang.String)</function-signature>
    </function>
	<function>
        <name>convertJSONStringToMap</name>
        <function-class>botbackend.utils.Util</function-class>
        <function-signature>java.util.HashMap convertJSONStringToMap(java.lang.String)</function-signature>
    </function>
	<function>
        <name>isContainBracket</name>
        <function-class>botbackend.utils.Util</function-class>
        <function-signature>java.util.boolean isContainBracket(java.lang.String)</function-signature>
    </function>
	<function>
        <name>removeBracketAndQuote</name>
        <function-class>botbackend.utils.Util</function-class>
        <function-signature>java.util.String removeBracketAndQuote(java.lang.String)</function-signature>
    </function>
    
</taglib>